@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-image: url('/weather-hero.jpg'); /* Corrected file path */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
